<div class="fondoFormulario">

    <div class="formulario">

        <h2 id="tituloForm">Ingresar Persona</h2>

        <input type="text" placeholder="Nombre">
        <input type="text" placeholder="Apellido">
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Contraseña">
        <input type="text" placeholder="Telefono">
        <input type="text" placeholder="Direccion">
        <input type="text" placeholder="Correo Electronico">
        <select name="Cargos" >
            <option disabled selected>Elegir Cargos</option>
            <option value="">1: Gerente</option>
            <option value="">2: Programador</option>
            <option value="">3: Contador</option>
            <option value="">4: Recursos Humanos</option>
            <option value="">5: Administradro de base de datos</option>

        </select>
        <input type="submit" id="botonSubir">


    </div>

</div>