.options {
    position: absolute;
    background-color: rgb(38, 38, 188);
    width: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.background {
    position: absolute;
    background-image: url(https://img.freepik.com/vector-gratis/patron-lineas-abstractas-planas-lineales_23-2148939520.jpg?w=996&t=st=1682634036~exp=1682634636~hmac=15252154a92e832126247bb458bb5a420e14c76e03a765050a6064cb604da0cb);
    width: 50%;
    float: right;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    opacity: 15%;
}

.form {
    width: 100%;
    justify-items: center;
    padding: 20%;
}

button {
    display: block;
    justify-content: center;
}