<div id="fondo">
    <div class="rolPagos">
        <div class="top" id="left">
            <h4>VIMASISTEM CIA. LTDA.</h4>
            <p>Rol de Pagos Individual</p>
        </div>
        <div class="top">
            <h4>No. {{idRolpagos}}</h4>
            <!-- <p>Mes: de MAYO de 2029</p> -->
        </div>
        <div>
            <p class="informacion">EMPLEADO: </p>
            <p class="informacion inf">{{nombre.nombre}} {{nombre.apellido}}</p>

        </div>
        <div>
            <p class="informacion">CARGO: </p>
            <p class="informacion inf">{{nombreCargo}}</p>

        </div>
        <div class="inge">
            <div class="inde">
                <p class="dein">INGRESOS</p>
                <p class="ingrEgr">Sueldo basico</p>
                <p class="ingrEgrD">$ {{sueldoBasico}}</p>
                <p class="ingrEgr">Horas extra</p>
                <p class="ingrEgrD">$ {{horasExtras}}</p>
                <p class="ingrEgr">Comisiones</p>
                <p class="ingrEgrD">$ {{comisiones}}</p>

            </div>
            <div class="inde">

                <p class="dein">DESCUENTOS</p>
                <p class="ingrEgrR">Aportes IESS</p>
                <p class="ingrEgrD">$ {{iess}}</p>
                <p class="ingrEgrR">Prés. Y Antic. Empresa</p>
                <p class="ingrEgrD">$ {{anticipos}}</p>
            </div>


        </div>
        <div class=" total">
            <p class="tablainf">TOTAL INGRESOS</p>
            <p class="tablainf">$ {{ingresos}}</p>
            <p class="tablainf">TOTAL DESCUENTOS</p>
            <p class="tablainf">$ {{descuentos}}</p>

        </div>

        <div class="neto">

            <p class="tablainf">NETO A PAGAR</p>
            <p class="tablainf">$ {{neto}}</p>

        </div>

    </div>
</div>