    .rolPagos {
        margin: 70px 250px 50px 250px;
        background-color: white;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 15px;

    }


    .top {
        display: inline-block;
        margin-bottom: 20px;
    }

    #left {
        margin-right: 250px;
        margin-left: 100px;
    }

    #fondo {
        background-color: rgb(38, 38, 188);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }


    .informacion {
        display: inline-block;
        margin-left: 100px;
        width: 107px;
        margin-top: 0;
    }

    .inf {
        color: gray;
    }

    .ingrEgr {
        display: inline-block;
        margin-right: 107px;
        font-size: 14px;
        width: 86px;
        margin-bottom: 10px;
        margin-top: 0;

    }

    .ingrEgrR {
        display: inline-block;
        margin-right: 59px;
        font-size: 14px;
        width: 142px;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .ingrEgrD {
        display: inline-block;
        font-size: 14px;
        color: gray;
        margin-bottom: 10px;
        margin-top: 0;

    }

    .inge {
        display: flex;

        justify-content: space-evenly;

    }

    .inde {
        width: 250px;
    }

    .dein {
        text-align: center;
    }

    .total {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 10px;
        margin-top: 20px;
        padding: 0px;
        display: flex;
        justify-content: space-between;
    }

    .tablainf {
        margin: 10px 0px 10px 0px;
    }

    .neto {

        margin: 0px 100px 20px 100px;
        padding: 0px 200px 0px 0px;
        border-bottom: 2px solid black;
        display: flex;

        justify-content: space-between;
    }