<div id="fondo">
    <div class="rolPagos">
        <div class="top" id="left">
            <h4>VIMASISTEM CIA. LTDA.</h4>
            <p>Rol de Pagos Individual</p>
        </div>
        <div class="top">
            <h4>No. {{0}}</h4>
            <p>Mes: de MAYO de 2029</p>
        </div>
        <div>
            <p class="informacion">EMPLEADO: </p>
            <p class="informacion inf">Mateo Barzallo</p>

        </div>
        <div>
            <p class="informacion">CARGO: </p>
            <p class="informacion inf">Programador</p>

        </div>
        <div class="inge">
            <div class="inde">
                <p class="dein">INGRESOS</p>
                <p class="ingrEgr">Sueldo basico</p>
                <p class="ingrEgrD">$ 340,00</p>
                <p class="ingrEgr">Horas extra</p>
                <p class="ingrEgrD">$ 0,00</p>
                <p class="ingrEgr">Comisiones</p>
                <p class="ingrEgrD">$ 100,00</p>

            </div>
            <div class="inde">

                <p class="dein">DESCUENTOS</p>
                <p class="ingrEgrR">Aportes IESS</p>
                <p class="ingrEgrD">$ 41,14</p>
                <p class="ingrEgrR">Prés. Y Antic. Empresa</p>
                <p class="ingrEgrD">$ 0,00</p>
            </div>


        </div>
        <div class="inge total">
            <p class="tablainf">TOTAL INGRESOS</p>
            <p class="tablainf">$ 440,00</p>
            <p class="tablainf">TOTAL DESCUENTOS</p>
            <p class="tablainf">$ 41,14</p>

        </div>

    </div>
</div>