<div id="fondoRol">

    <table id="prueba">

        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>CargoId</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let persona of ListaPersonas">
                <td>{{persona.nombre}}</td>
                <td>{{persona.apellido}}</td>
                <td>{{persona.direccion}}</td>
                <td>{{persona.telefono}}</td>
                <td>{{persona.correo_electronico}}</td>
                <td>{{persona.id_cargo}}</td>
            </tr>


        </tbody>

    </table>

 

</div> 
  <div id="rolDePagos">
        
            <h4 id="tituloVs">VIMASISTEM CIA. LTDA.</h4>
            <p>Rol de Pagos Individual</p>
        
    </div>