<div class="container">
    <div class="options">
        <button id="botonReset" (click)="reset()">Reset</button>
        <div class="form">

            <h1 id="titulo">TABLA ROL DE PAGOS</h1>
            <div class="bottons">
                <button class="botones" routerLink="/ingresarPersonas">Ingresar Persona</button>
                <button class="botones" routerLink="/consultaUsuario">Buscar Usuario</button>
            </div>
        </div>
    </div>
    <div class="background"></div>
</div>